
    :root {
        --color-white: hsl(0, 0%, 100%);
        --stone-100: hsl(30, 54%, 90%);
        --stone-150: hsl(30, 18%, 87%);
        --stone-600: hsl(30, 10%, 34%);
        --stone-900: hsl(24, 5%, 18%);
        --brown-800: hsl(14, 45%, 36%);
        --rose-800: hsl(332, 51%, 32%);
        --rose-50: hsl(330, 100%, 98%);
        --young-serif: 'Young Serif', Courier, monospace;
        --outfit:   'Outfit', Courier, monospace;
    }
    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-family: var(--outfit);
        font-weight: 400;
        font-style: normal;
    }

    section{
        margin:36px 32px;
    }

    h1{
        font-family: var(--young-serif);
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        line-height: 36px;
        padding-bottom: 26px;
    }

    p{
        
        font-size: 16px;
        line-height: 1.5;
        color: var(--stone-600);
    }

    .preparation-time{
        padding: 16px 24px 24px 24px;
        border-radius: 10px;
    }

    h3{
        color:hsl(332, 51%, 32%);
        margin-bottom: 15px;
        letter-spacing: 0.5px;
    }

    ol, ul{
        padding-left: 40px;
    }

    li{
        font-size: 16px;
        line-height: 1.5;
        color: var(--stone-600);
        margin-bottom: 10px;
    }

    li::marker{
        color: var(--brown-800);
        font-weight: bolder;
    }

    .preparation-list{
        list-style-type: square;
    }

    .preparation-list::marker{
        color: var(--rose-800);
    }

    h2{
        font-family: var(--young-serif);
        color: var(--brown-800);
        font-size: 28px;
        font-weight: 400;
        padding-bottom: 12px;
    }

    hr{
        color: var(--stone-150);
        margin-top: 30px;
    }

    table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    td{
        text-align: center;
        border-bottom: 1px solid var(--stone-150);
        padding: 8px 0;
        color:var(--stone-600)
    }

    .preparation-time{
        background-color: var(--rose-50);
    }

    td strong{
        color: var(--brown-800);
    }

    tr:last-child td{
        border-bottom: none;
    }

    tr{
        height: 50px;
    }

    .bg-color-stone-100{
        background-color: var(--stone-100);
    }

    .bg-color-stone-150{
        background-color: var(--stone-150);
    }

    .bg-color-stone-600{
        background-color: var(--stone-600);
    }

    .color-stone-900{
        color: var(--stone-900);
    }
    .color-rose-50{
        color: var(--rose-800);
    }
    .bg-color-brown-800{
        background-color: var(--brown-800);
    }

    .bg-color-rose-800{
        background-color: var(--rose-800);
    }

    .bg-color-rose-50{
        background-color: var(--rose-50);
    }

    .img-fluid{
        max-width: 100%;
        height: auto;
    }
    .nutrition{
        padding-bottom: 40px;
    }

    #content{
        background-color: var(--color-white);
    }

    @media (min-width: 780px) {
        body{
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: var(--stone-100);
        }

        #content{
            border-radius: 20px;
            margin-top: 100px;
            margin: auto;
            max-width: 740px;
        }

        .img-header{
            padding: 30px;
        }

        img{
            border-radius: 10px;
        }

        h1{
            font-size: 42px;
        }

        ol, ul {
            padding-left: 20px;
        }

        td{
            text-align: left;
            padding-left: 30px;
        }

        .shadow{
            box-shadow: 5px 5px 10px 0px var(--stone-600);
        }

    }

